.product-title {
  font-size: xx-large;
  margin: 20px 40px;
  font-weight: 800;
}

.product-body {
  display: flex;
  align-items: center;
  margin: 0px 40px;
  max-width: 1000px;
}

.product-desc {
  font-size: large;
}

.product-image {
  margin: 20px 40px;
  width: 500px;
}

.product-image img {
  height: 300px;
  width: auto;
  margin-right: 40px;
}
